native/bullet-itself/*
!native/bullet-itself/fetchSourceAndCompileLibs.bash
bin-debug
bin
as3/aneBulletTester/ane
native/ios/BulletANE/build
native/ios/BulletANE/BulletANE.xcodeproj/project.xcworkspace/*
!native/ios/BulletANE/BulletANE.xcodeproj/project.xcworkspace/contents.xcworkspacedata
native/android/obj
native/android/libs
