native/bullet-itself/*
!native/bullet-itself/fetchSourceAndCompileLibs.bash
bin-debug
bin
as3/aneBulletTester/ane
native/ios/Build
native/ios/bullet-ane.xcworkspace/*
!native/ios/bullet-ane.xcworkspace/contents.xcworkspacedata
